#nav {
    display: flex;
    justify-content: center; 
    align-items: center;
}

#nav ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

#nav ul li {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 1rem;
}

.accueil{
    border-top: 3px solid rgb(133, 59, 143);
    color: rgb(133, 59, 143);
}